*background: #242424
*foreground: #efefef
*color4: #70c6f2
*color12: #70c6f2

URxvt.scrollBar: false
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true
URxvt*saveLines: 65535
URxvt*font: xft:Source Code Pro:pixelsize=15:weight=light

URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso14755: False
URxvt.perl-ext-common: default,clipboard

Emacs.font: Source Code Pro-11
